/* Color Palette */
:root{
    --black: #000000;
    --white: #FFFFFF;
    --background: #000000;
    --main: #333232;
    --submain: #7f8284;
    --darker: #0d0d0d;
    --highlights: #9e2224;
}

/* Imports the Gen 4 Pokemon Font */
@font-face {
    font-family: gen4Pokemon;
    src: url(../fonts/pkmndp.ttf);
}

/* Style for links on the page */
a{
    text-decoration: none;
    color: var(--white);
}
/* Style for hovering over links */
a:hover{
    color: var(--black);
    text-decoration: underline;
}

#mobileButton{
    display: none;
}

/* Sets the background color of the webpage */
body{
    background-color: var(--background);
}

/* Defines the grid and each area */
.container{
    display: grid;

    grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";

    /* Size of the columns and rows */
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: auto 1fr auto;

    /* Margin around the whole website */
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 100vh;

}

/* Sets the display for the nav and aside for the toggle button on mobile view */
#navSidebar, #asideSidebar{
    display: block;
}

/* Mobile View */
@media only screen and (max-width: 768px) {
    .container {
      grid-template-areas:
        "header"
        "nav"
        "side"
        "content"
        "footer";
  
      grid-template-columns: 1fr;
      grid-template-rows:
        auto /* Header */
        auto /* Nav */
        auto /* Sidebar */
        1fr /* Content */
        auto; /* Footer */

        width:100%;
        margin: 0px;
        height: 100vh;
    }
    /* Shows button when on mobile */
    #mobileButton{
        display: block;
    }
    /* Hides sidebar and aside when on mobile */
    #navSidebar, #asideSidebar{
        display:none;
    }

    body{
        margin: 0px;
    }

}
  
/* Style for the header */
header{
    grid-area: header;
    text-align: center;
    background-color: var(--main);
    border-radius: 15px 15px 0px 0px; /*Rounds the top edges*/
    font-family: gen4Pokemon;
    font-size: 23px;
    border-bottom: 5px solid var(--submain); /*Line on bottom of header*/
    height: auto;
}

#logo{
    width: auto;
    height: auto;
    margin-top: 5px;
    padding-bottom: 2px;
}

#bannerText{
    margin: 0px;
    color: var(--white);
}

/* CSS for Nav */
nav{
    grid-area: nav;
    text-align: center;
    background-color:var(--darker);
    font-family: gen4Pokemon;
    color: var(--white);
    word-wrap: break-word;
    font-size: 23px;
}

/* CSS for Socials/Affiliates */
aside{
    grid-area: side;
    text-align: center;
    background-color:var(--darker);
    font-family: gen4Pokemon;
    color: var(--white);
    word-wrap: break-word;
    font-size: 23px;
}

/* Creates red groups on sidebar */
.sidebarList{
    background-color: var(--highlights);
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    border-radius: 10%;
    list-style-type: none;
    padding-inline-start: 0px;
    padding: 2%;
}

.sidebarList > li{
    margin: 5px;
}

/* Footer Styles */
footer{
    grid-area: footer;
    background-color: var(--highlights);
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    font-family: gen4Pokemon;
}

figure{
    display: inline-block;
}

figcaption{
    font-family: gen4Pokemon;
    font-size: 20px;
    color: var(--submain);
    text-align: center;
    font-style: italic;
}

.floatRight{
    float:right;
    margin-left: 15px;
}

.floatLeft{
    float:left;
    margin-right: 15px;
}

.floatCenter{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.sources {
    background-color: var(--submain);
    padding: 10px;
    border-radius: 15px;
    font-family: Verdana;
    font-size: 15px;
}

/* Tier 1 Heading Styles */
h1{
    font-size: 50px;
    font-family: gen4Pokemon;
    text-align: center;
    font-weight: normal;
    margin: 0px;
}

h2 {
    font-size: 30px;
    font-family: gen4Pokemon;
    margin-bottom: 7px;
    font-weight: normal;
    margin: 0px;
    color: var(--highlights);
    text-decoration: underline;
}

h3{
    font-size: 30px;
    font-family: gen4Pokemon;
    margin-bottom: 7px;
    font-weight: normal;
    text-align: center;
    margin: 0px;
    color: var(--black);
    text-decoration: underline;
}

/* Code for the article area */
main{
    grid-area: content;
    font-family: gen4pokemon;
    background-color: var(--main);
    color: var(--white);
    font-size: 25px;
    /* Idk what this does but it looks nice */
    line-height: 110%;
    padding: 20px;
}

/* Highlighted Red Areas */
.important{
    background-color: var(--highlights);
    padding: 5px;
    margin-bottom: 10px;
    font-family: gen4Pokemon;
}

/* Highlighted Grey Sections */
.highlightSection {
    background-color: var(--submain);
    padding: 10px;
    border-radius: 15px;
}

.highlightSection > ol{
    margin: 0px;
}


#date{
    color: var(--highlights);
    font-size: 25px;
}

.link{
    text-decoration: underline;
    color: var(--black);
}

.link:hover{
    color: var(--white);
}

button{
    font-family: gen4Pokemon;
    color: var(--white);
    background-color: var(--darker);
    padding: 5px 10px;
    margin: 15px;
}

input{
    background-color: var(--submain);
}

.chapters{
    background-color: var(--highlights);
}

.lastUpdated{
    font-size: 20px;
}

nav, aside {
    margin: 0;
}

.affiliateSection{
    background-color: var(--highlights);
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    border-radius: 10%;
    padding: 5px;
}

.affiliateSection > a:hover > img{
    border-style: dashed;
    border-width: 2px;
    border-color: var(--black);
}
















