#pokemon{
    text-align: center;
    font-size: larger;
    text-decoration: underline;
    color: var(--highlights);
}

#typeTitle, #methodTitle, #encounterTitle, #locationTitle{
    text-align: center;
}

#sprite, #type, #method, #encounterRate, #location{
    text-align: center;
}

#method{
    font-style: italic;
}

#buttonArea{
    text-align: center;
}

.sprites{
    height: 160px;
    width: auto;
}

/*Code to put Hunt Type and Encounter Rate into two Columns */
.huntcolumn {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .huntrow:after {
    content: "";
    display: table;
    clear: both;
  }
