<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../css/reset.css"/>
    <link rel="stylesheet" href="../../css/base.css"/>
    <!--LINK CSS HERE-->
    <script src="../../js/base.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../../js/load.js"></script>
    <!--LINK JS HERE-->
    <meta name="description" content="A Page About the Fogotten Areas in Gen 4"> <!--UPDATE THIS-->
    <meta name="keywords" content="Pokemon, sinnoh, areas, regis, johto, sinjoh"> <!--UPDATE THIS-->
    <title><!--TITLE HERE --></title>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
</head>

<body>
    <div class="container">
        <header>
            <p id="bannerText"> A Guide to Sinnoh</p>
            <a href="../../">
                <img id="logo" src="../../images/NewBanner.png" style="max-width: 100%; height: auto;">
            </a> 
        </header>

        <div id="mobileButton">
            <br>
            <button class="floatCenter" onclick="hideMenu()">Menu</button>
            <br><br><br>
        </div>

        <nav id="navSidebar">

        </nav>

        <main>
            <!--CONTENT GHERE-->




            <div class="floatRight" >
                <p class="lastUpdated">
                    <!--UPDATES HERE-->
                </p>
            </div>       
        </main>

        <aside id="asideSidebar">

        </aside>

        <footer id="footerInfo">

        </footer>
    </div>
</body>

</html>

